.account {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    color: black;
}

.account p:first-child {
     color: var(--color-secondary);
     font-weight: 700;
}