.date-container {
    width: 100%;
    height: fit-content;
    margin-top: 24px;
}

.date-container .date-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-container .content-wrapper {
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-container .h1 {
    margin-bottom: 6px;

    font-family: "Inter", sans-serif;
    font-size: 1.9rem;
}

.date-container .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-container .speaker,
.date-container .place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    color: var(--color-secondary);
}

@media screen and ( min-width: 672px) {
    .date-container .h1 {
        font-size: 3.6rem;
    }
}

@media screen and ( min-width: 990px) {
    .date-container {
        margin-top: 44px;
    }
}

@media screen and ( min-width: 1296px) {
}