.hero {
    width: 100%;
    height: fit-content;
    background-image: url(/image/bg_city.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: -15px;
    padding-top: calc(100px + 20px);
    padding-bottom: 0px;
    position: relative;
}
.hero .hero-wrapper {
    padding: 0;
}

.hero .hero-wrapper .content-wrapper {
    width: fit-content;
    height: fit-content;

    margin: 0 auto;
}

.hero .hero-wrapper .content-wrapper .content-wrapper-relative {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 50px auto;
}

.hero .hero-wrapper .after {
    background-color: white;
    width: 60px;
    height: 60px;

    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    position: absolute;
    bottom: calc(0px - 30px);
    left: calc(50% - 30px);
}

@media screen and ( min-width: 672px) {
    .hero {
        padding-top: calc(100px + 0px);
    }

    .hero .hero-wrapper .after {
        display: flex;
    }

    .hero .hero-wrapper {
        padding: 40px 0;
    }
}

@media screen and ( min-width: 990px) {
    .hero {
        padding-top: calc(100px + 50px);
        padding-bottom: 70px;
    }
    
}

@media screen and ( min-width: 1296px) {
    .hero {
        padding-top: calc(100px + 100px);
        padding-bottom: 100px;
    }

    .hero .hero-wrapper {
        padding: 80px 0;
        width: 100%;
        margin: 0 0;
    }

}